<%- include("./partials/header.ejs") %>

    <body>
        <h2>Welcome from Home Page</h2>
        <div class="d-grid gap-2 col-6 mx-auto">
            <a href="/login" class="btn btn-success">Login</a><br>
            <a href="/signup" class="btn btn-success">Signup</a>
        </div>
    </body>

    </html>