<%- include("./partials/header.ejs") %>

    <body>
        <h3>Welcome to Signup page</h3>
        <h3><%= msg %></h3>
        <form action="/signup" method="POST">
            <div class="mb-3 col-sm-6">
              <label for="uname" class="form-label">User Name</label>
              <input type="text" class="form-control" id="uname" name="name">
            </div>
            <div class="mb-3 col-sm-6">
                <label for="uemail" class="form-label">Email address</label>
                <input type="email" class="form-control" id="uemail" aria-describedby="emailHelp" name="email">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
            <div class="mb-3 col-sm-6">
              <label for="upwd" class="form-label">Password</label>
              <input type="password" class="form-control" id="upwd" name="pwd">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </body>

    </html>